* {
	margin:0;
	padding:0;
}

html {
	box-sizing:border-box;
}

*, *:before, *:after {
	box-sizing:inherit;
}

div {
	width:500px;
	margin:20px auto;
	font-family:'Lato', sans-serif;
	font-size:18px;
	line-height:36px;
	color:rgb(102,102,102);
}

h1 {
	padding:10px;
	font-family:'Unica One', cursive;
	font-size:54px;
	text-align:center;
	letter-spacing:1px;
	color:white;
	background-color:rgb(0,159,98);
	border-radius:5px;
}

form {
	display:flex;
	justify-content:space-between;
	padding:10px 0;
	border-bottom:1px solid rgb(153,153,153);
}

form > input {
	width:455px;
	padding:10px;
	outline:0;
	border:0;
}

::placeholder {
	color:rgb(153,153,153);
}

form > button {
	width:45px;
	padding:10px;
	color:rgb(0,159,98);
	background:transparent;
	border:1px solid rgb(153,153,153);
	border-radius:100%;
	outline:0;
}

ol > li {
	display:flex;
	justify-content:space-between;
	padding:10px 0;
	border-bottom:1px solid rgb(153,153,153);
	list-style:none;
}

ol > li > button {
	width:45px;
	padding:10px;
	color:rgb(0,159,98);
	background:transparent;
	border:1px solid rgb(153,153,153);
	border-radius:100%;
	outline:0;
}

.taskStatus {
	font-size:14px;
	text-transform:uppercase;
	color:rgba(0,159,98,0.5);
}

.statusBar {
	display:flex;
	justify-content:space-between;
}

.statusBar p {
	font-size:14px;
}

.statusButtons {
	display:flex;
	justify-content:space-between;
	width:350px;
}

.statusButtons button {
	padding:10px;
	font-size:14px;
	color:rgb(102,102,102);
	background:transparent;
	border:1px solid rgb(153,153,153);
	border-radius:5px;
	outline:0;
}
